



/* OTIMIZAÇÃO PARA CELULAR */

@media (max-width: 1400px){
    .logo img {
        width: 150px;
        margin-top: 15px;
    }
      
    #sec3-content{
        margin-left: 30px;
    }

    #sec3-background{
        margin-left: -90px;
    }
        
    #sec3-content h1{
        font-size: 2.5em;
    }
    
    #sec3-content h2{
        font-size: 3.5em;
    }
    
    #sec3-content h3{
        font-size: 1em;
        max-width: 90%;
        margin: auto;
        margin-top: 0;
    }
    .btn-orcamento{
        margin-top: 40px;
    }
    }
    
    
    @media (max-width: 1024px){
    #sec3-content{
        margin-top: 5px;
    }
    
    #sec3-content h1{
        font-size: 2em;
    }
    
    #sec3-content h2{
        font-size: 2.5em;
    }
    
    #sec3-content h3{
        font-size: 0.9em;
        margin-bottom: 20px;
    }
    
    #sec3-background img{
        width: 40%;
    }

    }
       
    
    @media (max-width: 768px) {
    .checkbtn{
        display: block;
    }
    
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #54685a;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        text-transform: uppercase;
    }
    
    nav ul li{
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    
    nav ul li a{
        font: 20px;
        color: #ffffff;
    }
    
    .btn-contato{
        display: none;
    }
    
    .li-contato{
        display: inline-block;
        margin-top: -10px;
    }
    
    #check:checked ~ ul{
        left: 0;
    }
    
    #sec3{
        display:flex;
        flex-direction: column-reverse;
    }
    
    #sec3-background img{
        order: 2;
        width: 100%;
    }
    
    #sec3-content{
        order: 1;
        max-width: 100%;
        margin: auto;
    }
    
    #sec3-content h1{
        font-size: 2.5em;
    }

    #sec3-content h2{
        font-size: 2.5em;
    }
    
    #sec3-content h3{
        font-size: 0.9em;
    }
    
    .btn-orcamento{
        margin-bottom: 20px;
    }
       
    #rodape-content h2{
        font-size: 2.5em;
    }
    
    #rodape-content h3{
        font-size: 1.3em;
        font-weight: 300;
    }
    
    #rodape-content h4{
        font-size: 3em;
    }
    
    }
    
    