

/* OTIMIZAÇÃO PARA CELULAR */

@media (max-width: 1400px){
    .logo img {
        width: 150px;
        margin-top: 15px;
    }
      
    #sec3-content{
        margin-top: 0;
        margin-left: 30px;
    }
    
    #sec3-background img{
        width: 40%;
        margin-bottom: 30px;
        margin-left: 50px;
    }
    
    #sec3-content h1{
        font-size: 40px;
    }
    
    #sec3-content h2{
        font-size: 50px;
    }
    
    #sec3-content h3{
        font-size: 17px;
        max-width: 90%;
        margin: auto;
        margin-top: 0;
    }
    .btn-orcamento{
        margin-top: 60px;
    }
    }
    
    
    @media (max-width: 1024px){
    
    #sec3-content h1{
        font-size: 35px;
    }
    
    #sec3-content h2{
        font-size: 35px;
    }
    
    #sec3-content h3{
        font-size: 15px;
        max-width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }
    
    #sec3-background img{
        width: 40%;
    }
    
    .btn-orcamento{
        margin-top: 0;
        margin-bottom: 30x;
    }

    }
    
    @media (max-width: 900px) {

    #sec3-background img{
        width: 40%;
    }
    
    #sec3-content h1{
        font-size: 35px;
    }
    
    #sec3-content h2{
        font-size: 35px;
    }
    
    #sec3-content h3{
        max-width: 100%;
        font-size: 15px;
    }
    
    .btn-orcamento{
        margin-top: 0;
        margin-bottom: 30px;
    }
    }
    
    
    @media (max-width: 768px) {
    .checkbtn{
        display: block;
    }
    
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #54685a;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        text-transform: uppercase;
    }
    
    nav ul li{
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    
    nav ul li a{
        font: 20px;
        color: #ffffff;
    }
    
    .btn-contato{
        display: none;
    }
    
    .li-contato{
        display: inline-block;
        margin-top: -10px;
    }
    
    #check:checked ~ ul{
        left: 0;
    }
    
    #sec3{
        display:flex;
        flex-direction: column-reverse;
    }
    
    #sec3-background img{
        width: 80%;
        margin-left: 50px;
        order: 2;
    }
    
    #sec3-content{
        order: 1;
        max-width: 100%;
        margin: auto;
    }
    
    #sec3-content h1{
        font-size: 40x;
    }
    
    #sec3-content h3{
        font-size: 17px;
        max-width: 70%;
        margin: auto;
        margin-bottom: 30px;
    }
    
    .btn-orcamento{
        margin-bottom: 20px;
    }
    
    #rodape-content{
        margin-top: 50%;
        margin-bottom: -50%;
    }
    
    #rodape-content h2{
        font-size: 35px;
    }
    
    #rodape-content h3{
        font-size: 18px;
        font-weight: 300;
    }
    
    #rodape-content h4{
        font-size: 45px;
    }
    
    }
    
    