


/* OTIMIZAÇÃO PARA CELULAR */

@media (max-width: 1400px){

#coluna2 img{
    height: 450px;
}

#coluna3{
    height: 450px;
}

#sec3-content{
    margin-top: 0;
    margin-left: 30px;
}

#sec3-background img{
    width: 40%;
    margin-bottom: 30px;
    margin-left: 50px;
}

#sec3-content h1{
    font-size: 40px;
}

#sec3-content h2{
    font-size: 50px;
}

#sec3-content h3{
    font-size: 17px;
    max-width: 90%;
    margin: auto;
    margin-top: 0;
}
.btn-orcamento{
    margin-top: 60px;
}
}


@media (max-width: 1024px){

#coluna1 {
    width: 30%;
}

#coluna2 img{
   width: 30%;
   margin: 0;
}
#coluna3{
    width: 30%;
}

#coluna3 h2{
    font-size: 40px;    
}

#coluna3 h3{
    line-height: 35px;
    font-size: 20px;
}

#sec3-content h1{
    font-size: 35px;
}

#sec3-content h2{
    font-size: 35px;
}

#sec3-content h3{
    font-size: 15px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

#sec3-background img{
    width: 40%;
}

.btn-orcamento{
    margin-top: 0;
    margin-bottom: 30x;
}

.btn-sobre-nos{
    margin-top: -10px;
}
}

@media (max-width: 900px) {
#coluna1 {
    width: 100%;
    margin: auto;
}

#coluna1 h1,h2,h4 {
    text-align: center;
}

#coluna1 h3{
    max-width: 80%;
    text-align: justify;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-sobre-nos{
    display: block;
    margin: auto;
    margin-bottom: 30px;
}
    
#coluna2 img{
    width: 40%;
    margin: 0;
    border: none;
}

#coluna3{
    width: 60%;
    border: none;
}
    
#coluna3 h2{
    font-size: 50px;    
}
    
#coluna3 h3{
    line-height: 35px;
    font-size: 28px;
}
#sec3-background img{
    width: 40%;
}

#sec3-content h1{
    font-size: 35px;
}

#sec3-content h2{
    font-size: 35px;
}

#sec3-content h3{
    max-width: 100%;
    font-size: 15px;
}

.btn-orcamento{
    margin-top: 0;
    margin-bottom: 30px;
}
}


@media (max-width: 768px) {
#sec1-content{
    margin-left: -40px;
}

#sec1-content h1{
    margin: auto;
    font-size: 70px; 
}

#sec1-content h2{
    font-size: 18px;
}

#coluna2 img{
    width: 70%;
    margin-bottom: 30px;
    margin-left: 70px;
}

#coluna3{
    width: 100%;
}

#coluna3 h2{
    font-size: 50px;    
}

#coluna3 h3{
    font-size: 25px;
    line-height: 30px; 
    border: none;  
}
}