


/* OTIMIZAÇÃO PARA CELULAR */

@media (max-width: 1024px){

#coluna2 img{
   width: 30%;
   margin: 0;
}
#coluna3{
    width: 30%;
}

#coluna3 h2{
    font-size: 2.5em;    
}

}

@media (max-width: 900px) {


#coluna1 {
    width: 100%;
    margin: auto;
}

#coluna1 h1,h2,h4 {
    text-align: center;
}

#coluna1 h3{
    max-width: 80%;
    text-align: justify;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-sobre-nos{
    display: block;
    margin: auto;
    margin-bottom: 30px;
}
    
#coluna2 img{
    width: 40%;
    margin: 0;
    border: none;
}

#coluna3{
    width: 60%;
    border: none;
}

}


@media (max-width: 768px) {

#sec1-content h2{
    font-size: 1.2em;
}

#coluna2 img{
    width: 60%;
    margin-bottom: 30px;
    margin-left: 90px;
}

#coluna3{
    width: 100%;
}

#coluna3 h2{
    font-size: 3.5em;    
}

#coluna3 h3{
    font-size: 1.3em;
}
}