


/* OTIMIZAÇÃO PARA CELULAR */

@media (max-width: 1400px){
.logo img {
    width: 150px;
    margin-top: 15px;
}
#coluna2 img{
    height: 450px;
}
#coluna3{
    height: 450px;
}
#sec3-background img{
    margin-bottom: 30px;
}
#sec3-content h3{
    font-size: 17px;
    max-width: 90%;
    margin: auto;
}
}


@media (max-width: 1024px){

#coluna1 {
    width: 30%;
}

#coluna2 img{
   width: 30%;
   margin: 0;
}
#coluna3{
    width: 30%;
}

#coluna3 h2{
    font-size: 40px;    
}

#coluna3 h3{
    line-height: 35px;
    font-size: 20px;
}

#sec3-content{
    max-width: 50%;
    margin: auto;
}

#sec3-content h3{
    font-size: 15px;
    max-width: 70%;
    margin: auto;
    margin-bottom: 30px;
}

.btn-sobre-nos{
    margin-top: -10px;
}
}

@media (max-width: 900px) {
#coluna1 {
    width: 100%;
}

#coluna1 h1,h2,h4 {
    text-align: center;
}

#coluna1 h3{
    max-width: 80%;
    text-align: justify;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-sobre-nos{
    display: block;
    margin: auto;
}
    
#coluna2 img{
    width: 40%;
    margin: 0;
    border: none;
}

#coluna3{
    width: 60%;
    border: none;
}
    
#coluna3 h2{
    font-size: 50px;    
}
    
#coluna3 h3{
    line-height: 35px;
    font-size: 28px;
}
}

@media (max-width: 801px) {

#coluna2 img{
    width: 40%;
    
}

#coluna3{
    width: 60%;
}
}



@media (max-width: 768px) {
.checkbtn{
    display: block;
}

ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #54685a;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    text-transform: uppercase;
}

nav ul li{
    display: block;
    margin: 50px;
    line-height: 30px;
}

nav ul li a{
    font: 20px;
    color: #ffffff;
}

.btn-contato{
    display: none;
}

.li-contato{
    display: inline-block;
    margin-top: -10px;
}

#check:checked ~ ul{
    left: 0;
}

#sec1-content{
    margin-left: -80px;
}

#sec1-content h1{
    margin: auto;
    font-size: 70px; 
}

#sec1-content h2{
    font-size: 18px;
}

#coluna2 img{
    width: 500px;
    margin-bottom: 30px;
    display: block;
    margin: auto;
}

#coluna3{
    width: 100%;
}

#coluna3 h2{
    font-size: 50px;    
}

#coluna3 h3{
    font-size: 25px;
    line-height: 30px; 
    border: none;  
}

#sec3{
    display:flex;
    flex-direction: column-reverse;
}

#sec3-background img{
    width: 100%;
    order: 2;
}

#sec3-content{
    order: 1;
    max-width: 100%;
    margin: auto;
}

#sec3-content h3{
    font-size: 15px;
    max-width: 70%;
    margin: auto;
    margin-bottom: 30px;
}

.btn-orcamento{
    margin-bottom: 20px;
}

#rodape-content h2{
    font-size: 35px;
}

#rodape-content h3{
    font-size: 18px;
    font-weight: 300;
}

#rodape-content h4{
    font-size: 45px;
}

}

