

/* OTIMIZAÇÃO PARA CELULAR */

@media (max-width: 1400px){

}
 
    @media (max-width: 1300px){
        #references-1 {
            width: 55%;
        }
      
        #escada2{
            display: none;
        }

        .btn-servicos{
            display: block;
            margin: auto;
            margin-top: 20px;
        }

        #equipe{
            height: 1900px;
        }

        #djalma{
            float: none;
            display: inline-block;
            margin-left: 15%;
        }

        #imaculada{
            float: none;
            display: inline-block;
            margin-left: 15%;
        }

        #daniel{
            float: none;
            display: inline-block;
            margin-top: 20px;
            margin-left: 35%;
        }

        #daniel h3{
            position: absolute;
        }
    
        #daniel h4{
            position: absolute;
            margin-top: 300px;
        }

        #soldadores{
            width: 60%;
            float: none;
            margin: auto;
            margin-top: 40px;
        }

        #soldadores h3{
            position: absolute;
            max-width: 50%;
            margin-top: 300px;
            font-size: 1.3em;
        }

        #espaco{
            width: 60%;
            float: none;
            margin: auto;
            margin-top: 40px;
        }

        #espaco h3{
            position: absolute;
            max-width: 50%;
            margin-top: 300px;
            font-size: 1.3em;
        }
    }  
 
    
    @media (max-width: 1024px) {
        #background h1{
            font-size: 6em;
            text-align: center;
            display: block;
            margin: auto;
        }

        #references-1 {
            width: 50%;
        }

        #escada1{
            margin-top: 50px;
            width: 30%;
        }

        #escada3{
            background-size: contain;
            background-repeat: no-repeat;
            width: 30%;
        }

        #equipe h2{
            margin-top: 50px;
            padding: 0;
            margin-bottom: 0;
            text-align: center;
        }

        #equipe{
            height: 2200px;
        }

        #djalma{
            width: 40%;
            float: none;
            display: block;
            margin: auto;
            margin-top: 40px;
        }

        #imaculada{
            width: 40%;
            float: none;
            display: block;
            margin: auto;
            margin-top: 40px;
        }

        #daniel{
            width: 40%;
            float: none;
            display: block;
            margin: auto;
            margin-top: 40px
        }

        #equipe h3{
            position: absolute;
        }
        
        #equipe h4{
            position: absolute;
            margin-top: 300px;
        }
        
        #soldadores{
            width: 60%;
            float: none;
            margin: auto;
            margin-top: 40px;
        }

        #soldadores h3{
            max-width: 50%;
        }

        #espaco{
            width: 60%;
            float: none;
            margin: auto;
            margin-top: 40px;
            margin-bottom: 50px;
        }

        #espaco h3{
            text-align: center;
            margin-top: 300px;
        }
    }

    
    
    @media (max-width: 768px) {
        #background h1{
            font-size: 5em;
        }

        #references {
            margin-top: 40px;
        }

        #references-1 {
            width: 100%;
            margin: 0;
        }

        #references-1 h1 {
            font-size: 2em;
            max-width: 80%;
        }

        #references-1 h2 {
            font-size: 1em;
            max-width: 80%;
        }

        #references-1 hr{
            max-width: 60%;
        }

        #escada1{
            width: 25%;
            margin: 0;
            margin-top: 50px;
        }

        #escada2{
            display: block;
            width: 30%;
            height: 50%;
            margin-top: 50px;
        }

        #escada3{
            width: 40%;
            height: 55%;
            margin: 0;
            margin-top: 40px;
        }

        #equipe h2{
            font-size: 3em;
        }

        #djalma{
            width: 300px;
            height: 300px;
        }

        #imaculada{
            width: 300px;
            height: 300px;
        }

        #daniel{
            width: 300px;
            height: 300px;
        }

        #equipe h3{
            margin-top: 200px;
        }
        
        #equipe h4{
            margin-top: 250px;
        }

        #soldadores{
            width: 70%;
        }

        #soldadores h3{
            font-size: 1.3em;
            text-align: center;
            margin-top: 270px;
            margin-left: 40px;
        }

        #espaco{
            width: 70%;
        }

        #espaco h3{
            font-size: 1.2em;
            margin-top: 350px;
        }
    }

        