

/* OTIMIZAÇÃO PARA CELULAR */

@media (max-width: 1400px){
 
    @media (max-width: 1024px){
    }
    
 
    
    @media (max-width: 900px) {
    }

 
    
    
    @media (max-width: 768px) {
    }
}