@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

nav{
    font-family: 'Josefin Sans', sans-serif;
    z-index: 9; 
}

.checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: 5px;
    cursor: pointer;
    display: none;
}

.li-contato{
    display: none;
}

#check{
    display: none;
}

.logo img {
	width: 180px;
    z-index: 9;
    margin-left: 40px;  
    margin-top: 15px;
}

nav ul{
	float: right;
	margin-right: 20px;
    z-index: 9;  
}

nav ul li {
	display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    padding: 20px;
    font-size: 1.1em;
}

nav a{
    text-decoration: none;
    color: #000000;
}

nav a:hover, a:active{
    color: #0F0F95;
}

.btn-contato{
    font-family: 'Josefin Sans', sans-serif;
    padding: 15px 35px 15px 35px;
    font-size: 1em;
    color: #ffffff;
    background-color:#0F0F95;
    border-radius: 50px;
    border: none;
    text-decoration: none;
}

.btn-contato:hover{
    background-color: #000077;
    transition: 0.5s;
}

#sec3{
    width: 100%;
    margin-top: 70px;
    display: inline-block;
}

#sec3-background img{
    float: left;
    width: 500px;
    margin-left: 100px;
    margin-bottom: 60px;
}

#sec3-content{
    float: right;
    max-width: 40%;
    margin-right: 60px;
    margin-top: 50px;
}

#sec3-content h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    font-weight: 400;
    text-align: center;
    color:#CF2E2E;
    margin-bottom: 20px;
}

#sec3-content h1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
    color:black;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sec3-content hr{
    max-width: 30%;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 20px;
}

#sec3-content h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 100;
    color:#000000;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 50px;
}

.btn-orcamento{
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 40px 20px 40px;
    font-size: 1em;
    color: #ffffff;
    background-color:#000077;
    border-radius: 50px;
    border: none;
    display: block;
    margin: auto;
}

.btn-orcamento:hover{
    background-color:#02025c;
    border: none;
    transition: 0.5s;
}

#rodape{
    background-image: url(../imagens/escada-background-preta.jpg);
    background-position: center bottom;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    width: 100%;
    height: 700px;
    border: 1px solid black;
}

#rodape-content{
    text-align: center;
    color: white;
    top: 50%;                        
    transform: translate(0, 100%);
}

#rodape-content h2{
    font-family: 'Berkshire Swash', cursive;
    font-size: 3.5em;
    font-weight: 400;
    margin-top: 20px;
}

#rodape-content h3{
    font-family:  'Josefin Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 20px;
}

#rodape-content h4{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5em;
    font-weight: 700;
    margin-top: 20px;
}

#rodape-contato{
    width: 100%;
    height: 120px;
    background-color: #000000;
    border: 1px solid black;
}

#rodape-contato h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: white;
    margin-top: 35px;
    line-height: 30px;
}
