@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}

#background{
    background-image: url(../imagens/sobre-nos-preto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    height: 500px;
}

#background h1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 6em;
    position: relative;              
    top: 50%;                        
    transform: translate(0, -50%);
    color: #ffffff;
    font-weight: 400;
    margin-left: 5%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);  
}

#references{
    width: 100%;
    height: 600px;
}

#references-1 {
    width: 40%;
    float: left;
    margin: 50px;
}

#references-1 h1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

#references-1 h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
    font-weight: lighter;
    text-align: justify;
    line-height: 1.4em;
    margin-top: 20px;
}

#references-1 hr{
    border: 1px solid black;
}

#escada1{
    background-image: url(../imagens/escada_sotao.jpg);
    background-position: center;
    background-size: cover;
    width: 15%;
    height: 300px;
    float: left;
    margin-top: 100px;
    /* margin-left: 10px; */
}

#escada2{
    background-image: url(../imagens/escada-ferro-madeira.jpg);
    background-position: center;
    background-size: cover;
    width: 15%;
    height: 350px;
    float: left;
    margin-left: 20px;
    margin-top: 100px;
}

#escada3{
    background-image: url(../imagens/escada_santos_dumont.jpg);
    background-position: center;
    background-size: cover;
    width: 15%;
    height: 400px;
    float: left;
    margin-left: 20px;
    margin-top: 100px;
    background-color: #000077;
}

.btn-servicos{
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 40px 20px 40px;
    font-size: 1em;
    color: #ffffff;
    background-color:#000077;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
}

.btn-servicos:hover{
    background-color:#02025c;
    border: none;
    transition: 0.5s;
}

#equipe{
    background-image: url(../imagens/fundo-espiral-preto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 1200px;
    display: inline-block;
}

#equipe h2{
    font-family: 'Berkshire Swash', cursive;
    font-size: 4em;
    text-align: center;
    font-weight: 400;
    padding: 80px;
    color: #ffffff;
}

#djalma{
    width: 350px;
    height: 350px;
    background-image: url(../imagens/djalma.jpg);
    background-position: center;
    background-size: cover;
    float:left;
    margin-left: 100px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);  
}

#imaculada{
    width: 350px;
    height: 350px;
    background-image: url(../imagens/imaculada.jpg);
    background-position: center;
    background-size: cover;
    float: left;
    margin-left: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);  
}

#daniel{
    width: 350px;
    height: 350px;
    background-image: url(../imagens/daniel.jpg);
    background-position: center;
    background-size: cover;
    float: left;
    margin-left: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);  
}

#equipe h3{
    font-family: 'Berkshire Swash', cursive;
    font-size: 2em;
    color: #ffffff;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 250px;
}

#equipe h4{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    color: #ffffff;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 10px;
}

#soldadores{
    width: 550px;
    height: 400px;
    background-image: url(../imagens/equipe-soldador-preto.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    float: left;
    margin-left: 100px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);  
}

#soldadores h3{
    font-size: 1.7em;
    text-align: center;
}

#espaco{
    width: 550px;
    height: 400px;
    background-image: url(../imagens/mesa-trabalho-preto.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    float: left;
    margin-left: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

#espaco h3{
    font-size: 1.5em;
    text-align: center;
}



