@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}

#sec1{
    background-color: rgb(128, 196, 196);
    width: 100%;
    position: relative;
    height: 42vw;
}

#sec1-background{
    background: url(../imagens/background-preto.jpg);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
    background-attachment: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 9em;
    position: relative;
    right: 0;
    top: 0;
    background-size: cover;
    margin-bottom: 30px;
}

#sec1-content{
    justify-content: center;
    align-items: center;
    position: relative;              
    top: 50%;                        
    transform: translate(0, -50%);
}

#sec1-content h1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 80px;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
}

#sec1-content hr{
    max-width: 30%;
    margin: auto;
}

#sec1-content h2{
    font-family: 'Josefin Sans', sans-serif;
    color:#ffffff;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    margin-top: 20px;
}

main{
    width: 100%;
    background-color: azure;
    display: inline-block;
    margin-top: 40px;
}

#coluna1{
    float:left;
    width:28%;
    margin: 30px;
}

#coluna2 img{
    float:left;
    margin-left: 70px;
    border: 1px solid black;

}

#coluna3{
    background-image: url(../imagens/planta-casa-preto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    float:right;
    width:28%;
    border: 1px solid black;
}

#coluna1 h1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    font-weight: 400;
    color:#0F0F95;
    margin-top: 20px;
    margin-bottom: 20px;
}

#coluna1 h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:#000000;
    line-height: 25px;
}

#coluna1 h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color:#000000;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 25px;
}

#coluna1 h4{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color:#000000;
}

.btn-sobre-nos{
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 40px 20px 40px;
    font-size: 13px;
    color: #ffffff;
    background-color:#000077;
    border-radius: 50px;
    border: none;
}

.btn-sobre-nos:hover{
    background-color:#02025c;
    border: none;
    transition: 0.5s;
}

#coluna3 h2{
    font-family: 'Berkshire Swash', cursive;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin-top: 250px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

#coluna3 h3{
    font-family:'Josefin Sans', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    margin-top: 40px;
    line-height: 50px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
